@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
body {
  background-color: #2E0249;
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #F4ABC4;
  font-size: 5em;
}

h2 {
  color: #F4ABC4;
  font-size: 3em;
}

p {
  color: #F4ABC4;
  font-family: "Jersey 10", sans-serif;
  font-size: 2em;
}

.pole-txt {
  color: #F4ABC4;
  background-color: #2E0249;
  border: 2px solid #F4ABC4;
  border-radius: 8px;
  padding: 12px 0px 12px 20px;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.8em;
}

.button {
  background-color: #F4ABC4;
  color: #2E0249;
  border: 0px;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  font-family: "Jersey 10", sans-serif;
  font-size: 2em;
}